APP_NAME=AlfabeMail
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=alfabemail
DB_USERNAME=alfabe
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root

REDIS_HOST=redis
REDIS_PORT=6379

MAILCOW_DOCKER_NETWORK=mailcowdockerized_mailcow-network
